<div class="jumbotron">
    
        <h1>Kalangiam J <img src="../../assets/audio.jpg" (click)="playSound()" title="click to know how to pronounce my Name" width="40" height="40">
        </h1>
        
        <h3> Application Developer</h3>
        <a href="https://www.linkedin.com/in/deva-jeyam-881374312" target="_blank">
                <img src="../../assets/linkedinLogo.avif" title="LinkedIn" width="32" height="32"
            class="rounded-circle flex-shrink-0">
        </a>
        <a href="https://www.instagram.com/people_cal_me_deva?igsh=dWticGdyeGczcTR3" target="_blank">
                <img src="../../assets/instaLogo.jpg" title="Instagram" width="32" height="32"
                            class="rounded-circle flex-shrink-0">
                
        </a>
        <a (click)="downloadFile()"><img src="../../assets/downloadIcon.png" title="Click to download my Resume" width="28" height="28"
        style="border-radius: 50%;"></a>
        <i class="fa-solid fa-download"></i>
</div>
