<div class="text-center border mb-5 shadow rounded" style="width: 800px;">
        <h1>Contact</h1>
        <p>I can be reached at the following email: <b>kalangiadevan2000&#64;gmail.com</b></p>
</div>
<div class="container">
    <div class="first">
        <div class="list-group shadow" style="width: 200px">
            <a href="https://www.linkedin.com/in/deva-jeyam-881374312" target="_blank"
                        class="list-group-item list-group-item-action d-flex gap-1 py-3" title="Click to see my LinkedIn profile">
                <img src="../../assets/linkedinLogo.avif" width="32" height="32"
                            class="rounded-circle flex-shrink-0">
                <h6 style="padding-top: 5px;">LinkedIn</h6>
            </a>
        </div>
        <div class="list-group shadow" style="width: 200px">
            <a href="https://www.instagram.com/people_cal_me_deva?igsh=dWticGdyeGczcTR3" target="_blank"
                        class="list-group-item list-group-item-action d-flex gap-1 py-3" title="Click to see my instagram profile">
                <img src="../../assets/instaLogo.jpg" width="32" height="32"
                            class="rounded-circle flex-shrink-0">
                <h6 style="padding-top: 5px;">Instagram</h6>
            </a>
        </div>
    </div> 
    <div class="second border shadow rounded">
        <b>Note: Feedback Module is under development</b>
        <br>
        <b>Share your Feedback!!!</b>

        <div class="container" style="display: flex; flex-direction: column; align-items: center; margin-top: 10px;gap: 1rem;">
            <input disabled placeholder="Name" style="text-align: center; width: 300px;" >
            <input disabled placeholder="Comments" style="text-align: center; height: 150px; width: 300px;" >
            <button class="btn btn-primary" disabled>Send</button>
        </div>
    </div>
</div>

