<nav class="navbar-expand-md">
    
        <ul>
            <li class="nav-item">
                <a routerLink="/home" routerLinkActive="active">Myself</a>
            </li>
            <li class="nav-item">
                <a routerLink="/resume" routerLinkActive="active">Resume</a>
            </li>
            <li class="nav-item">
                <a routerLink="/portfolio" routerLinkActive="active">Projects</a>
            </li>            
            <li class="nav-item">
                <a routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>
        </ul>
   
</nav>
