<div id="container">
    <h2><span>About me</span></h2>
    <div id="first">
        <img src="../../assets/kalanjiPic.jpeg" alt="profile picture" width="126" height="126">

    </div>
    <div id="second">

        <p>I am Kalangiam J, highly focused and dedicated person with innovative mind and hardworking qualities. My
            objective
            is to
            join a project that offers me a stable and positive atmosphere and inspires me in all the way to enhance and
            therefore to innovate the work culture for the betterment of all the parties concerned.
            <br>
            <br>
            I am aspired to be a <b style="font-style: italic;">Data Scientist</b>
            <br>
        </p>
        <div class="row" style="text-align: left;">
            <div class="col">
                <b>Skills:</b>
                <ul>
                    <li>Python</li>
                    <li>SQL</li>
                    <li>OOPS</li>
                    <li>RDBMS</li>
                    <li>Basic C#</li>
                    <li>HTML</li>
                    <li>CSS</li>

                </ul>
            </div>
            <div class="col">
                <b>Learning in Progress: </b>
                <ul>
                    <li>AWS</li>
                </ul>
            </div>

        </div>

    </div>
</div>